* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Overpass", sans-serif;
}

:root {
  --primary-color: #f8f7f3;
  --secondary-color: #1a24fb;
}

body {
  background: var(--primary-color);
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  display: grid;
  place-items: center;
  gap: 100px 20px;
  padding-top: 60px;
}

header {
  width: 100%;
  background: var(--secondary-color);
}
nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  font-family: Overpass;
  text-transform: uppercase;
  color: var(--primary-color);
}

.logo {
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
  color: var(--primary-color);
}

.menu-icon {
  font-size: 24px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 400px;
  height: 500px;
  padding: 40px;
  overflow: hidden;
  color: var(--secondary-color);
  line-height: 1.5;
  border: 1px solid var(--secondary-color);
  background: var(--primary-color2);
}

.number-container {
  display: grid;
  place-items: center;
  position: absolute;
  top: 5px;
  right: 2px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: 700;
}

.card-title {
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color1);
}

.card-content {
  align-self: flex-start;
  padding-top: 15px;
  color: var(--primary-color1);
}

.sub {
  align-self: flex-start;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.card-content .text {
  font-size: 16px;
  font-weight: 700;
}

button {
  border: 1px solid red;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 18px;
  margin-top: 15px;
  border: 1px solid var(--primary-color2);
  border-radius: 0;
  font-size: 14px;
  color: var(--secondary-color);
  background: var(--primary-color1);
  transition: 0.3 all;
}

button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn-arrow {
  font-size: 18px;
}

@media screen and (min-width: 860px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
